<!-- <div class="h-0.5 w-16 sm:w-26 sm:h-1 bg-purple-400/100 mb-6 sm:hidden opacity-45"></div> -->
<div class="flex items-start gap-x-5 mb-10">
    <!-- <div class="absolute hidden sm:inline-block h-0.5 sm:w-16 sm:h-.5 bg-purple-400/100 mt-3.5 opacity-45"></div> -->
    <p class="leading-7  text-[17px] text-justify">
        Soy estudiante de Ingeniería en Sistemas y un entusiasta del <span class="text-purple-400/100 opacity-90">Desarrollo web.</span> Me apasiona crear interfaces limpias, accesibles y bien estructuradas. 

        <span class="text-purple-400/100 opacity-90">Me considero una persona curiosa y comprometida con el aprendizaje constante.</span> Estoy en permanente búsqueda de nuevas herramientas y tecnologías que me permitan mejorar como desarrollador, aplicándolas en proyectos personales donde transformo lo aprendido en resultados concretos.

        Actualmente, estoy enfocado en fortalecer mis conocimientos en JavaScript, React, y tecnologías modernas como Astro y TailwindCSS.

        Valoro la escritura de código claro, reutilizable y alineado a buenas prácticas, siempre con el objetivo de crecer como profesional y construir soluciones que aporten valor.
    </p>
</div>