---
import Enlaces from "./Enlaces.astro";
---

<header class="fixed top-0 left-0 w-full bg-gray-900/80 z-50 shadow-md">
    <nav class="flex justify-center items-center gap-x-10 py-4">
        <Enlaces href={"#home"} title={"Inicio"} />
        <Enlaces href={"#about"} title={"Sobre mí"} />
        <Enlaces href={"#projects"} title={"Proyectos"} />
        <Enlaces href={"#contact"} title={"Contacto"} />
    </nav>
</header>

<!-- <header class="flex justify-center items-center w-full sm:w-xl md:w-2xl lg:w-4xl mx-auto py-5">
    

    <nav class="flex flex-row  gap-x-10 mr-2 sm:mr-0 fixed">
        <Enlaces href={"/"} title={"Inicio"}/>
        <Enlaces href={"#about"} title={"Sobre mí"}/>
        <Enlaces href={"#projects"} title={"Proyectos"}/>
        <Enlaces href={"#contact"} title={"Contacto"}/>
    </nav>
</header> -->