---
interface Props {
    ancho: string;    
}

const {ancho} = Astro.props;
---
<section class=`sm:w-xl md:w-2xl ${ancho} px-5 sm:px-0 mx-auto pt-40 flex flex-col items-start`>
    <slot/>
</section>