---
---
<div
    id="card"
    class="transform hover:-translate-y-1 card relative flex h-36 w-36 items-center justify-center overflow-hidden rounded-xl border border-gray-700 bg-gradient-to-r from-black to-gray-900 shadow-2xl transition duration-300"
>
    <!-- Efecto spotlight -->
    <div
        id="spotlight"
        class="spotlight pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-300"
    >
    </div>
    <slot/>
</div>