---
import SkillCard from '../components/SkillCard.astro';
import JavaScriptIcon from '../components/Icons/JavaScript.astro';
import HTMLIcon from '../components/Icons/HTML.astro';
import CSSIcon from '../components/Icons/CSS.astro';
import GitIcon from '../components/Icons/Git.astro';
import SassIcon from '../components/Icons/Sass.astro';
import BootstrapIcon from '../components/Icons/Bootstrap.astro';
import TailwindIcon from '../components/Icons/Tailwind.astro';
import PhpIcon from '../components/Icons/Php.astro';
import MySQLIcon from '../components/Icons/MySQL.astro';
import AstroIcon from '../components/Icons/AstroIcon.astro';
import PythonIcon from '../components/Icons/Python.astro';
import ReactIcon from '../components/Icons/React.astro';
import GitHubIcon from '../components/Icons/GitHub.astro';
import SQLServer from './Icons/SQLServer.astro';
---
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <HTMLIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">HTML 5</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <CSSIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">CSS</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <SassIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">Sass</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <BootstrapIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">Bootstrap</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <TailwindIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">Tailwind CSS</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <JavaScriptIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">JavaScript</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <ReactIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">React</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <GitIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">Git</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <GitHubIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">GitHub</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <PhpIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">PHP</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <MySQLIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">MySQL</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <SQLServer class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">SQL Server</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <AstroIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">Astro</p>
    </div>
</SkillCard>
<SkillCard>
    <!-- Contenido -->
    <div class="flex flex-col gap-y-5 items-center">
        <PythonIcon class='size-16' />
        <p class="text-sm text-white z-10 font-bold text-center">Python</p>
    </div>
</SkillCard>